li.select2-selection__choice {
  background-color: #e4e4e4 !important ;
  border-color: #aaa !important ;
  color: #212529 !important;
  span.select2-selection__choice__remove{
    color: #999 !important;
  }
}