.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.btn-index-new{
  width: 100%;
}

.btn-submit {
  margin-left: 10px;
}

.select-form {
  width: 30% !important;
}

a {
  color: #212529 !important;
}

a:hover {
  text-decoration: none !important;
}
